/* regole generali */
*{
 margin: 0;
 padding: 0;
 box-sizing: border-box;
 font-family: 'Roboto', sans-serif;
}

ul li {
 list-style: none;
}

p{
 font-size: 13px;
 margin: 5px;
}

/* colore sfondo pagina */
html, body {
 height:100%;
}

div#box {
 height:20%;
 background:#00bfa5;
 position: relative;
}

div#box2 {
 height:80%;
 background-image: linear-gradient(45deg, #dde9d7 ,#c7c9b5);
}

/* container generale*/
.container{
 height: 600px;
 width: 1000px;
 position: absolute;
 top: 30px;
 left: 180px;
 background-color : white;
 display: flex;
}

/* box-sx */
/* container gen sx */
.box-sx{
 display: flex;
 flex-basis: 30%;
 flex-direction: column;
}

/* div login */
.login{
 display: flex;
 background: lightgrey;
 height: 70px;
 justify-content: space-between;
}

.login img{
 height: 50px;
 margin: 16px;
}

.login ul li i {
 margin-top: 20px;
 font-size: 20px;
}

/* div notifiche */
.notifiche{
 display: flex;
 height: 70px;
 background: #128c7e;
 color: white;
}

/* icona notifica */
.fa-bell-slash{
 font-size: 23px;
 margin:10px;
 color:white;
}

/* div search*/
.search{
 display: flex;
 background: #e5e6e2;
 height: 50px;
 position: relative;
}

.cerca-amici{
 position: absolute;
 left: 10px;
 top: 12px;
 color: grey;
 height: 13px;
}

.search-bar{
width: 285px;
height: 30px;
color: lightgrey;
margin: 4px;
box-shadow: 0 0 7px lightgrey;
border-radius: 30px;
padding-left: 20px;
}

/* div utenti */
.lista-utenti{
 display: flex;
 border: 1px solid lightgrey;
 height: calc(100vh - 100px);
 max-width: 100%;
 flex-direction: column;
}

.friends{
 border: 1px solid lightgrey;
 height: 55px;
 display: flex;
 width: 300px;
 padding: 5px;
}

.ora-msg {
padding-left: 70px;
padding-top: 10px;
}

/* box-dx */
.box-dx{
 display: flex;
 flex-basis: 70%;
 background-image: url("../img/wa.jpg");
 background-image: cover;
 flex-direction: column;
 justify-content: space-between;
 height: calc(100vh - 100px);
 max-width: 100%;
}

/* div di stampa js */
.centrale{
 display: flex;
 overflow-y: auto;
}

#verde, #bianco{
 margin: 50px 20px;
}

.msgsent {
 background-color: #dcf8c6;
 padding: 5px;
 margin-top: 10px;
 width: 150px;
 border-radius: 8px;
}

.risposta {
 background-color: white;
 padding: 5px;
 margin-top: 10px;
 width: 150px;
 border-radius: 8px;
}

/* div info */
.info{
 display: flex;
 background: lightgrey;
 border-left: 1px solid grey;
 height: 70px;
 justify-content: space-between;
 padding: 20px;
}

.info p{
 font-size:20px;
}

.info-utente, .info-icone{
 display: flex;
}

.info img, .friends img{
 height: 45px;
 padding-right: 10px;
}

/* div scrittura chat */
.writing{
 display: flex;
 background: #ece5dd;
 height: 70px;
 border-top: 1px solid grey;
 justify-content: center;
 position: fixed;
 z-index: 2;
 bottom: 45px;
 width: 698px;
}

.writing ul li, .login ul li , .info ul li{
 text-decoration: none;
 display: inline-block;
 color: grey;
 margin:10px;
 vertical-align: middle;
}

/* imput text zone */
.message{
 width: 500px;
 height: 45px;
 border-radius: 10px;
 color: grey;
 padding: 10px;
}

/* icons text zone */
.fa-smile, .fa-microphone{
 font-size: 25px;
 margin-top: 3px;
}

/* Parte di templating */
#template {
 display: none;
}
